<h1>New Artist</h1>

<ul>
	<% if @errors %>
	<% @errors.each do |error| %>
	<li> <%= error %>	</li>
	<% end%>
<% end%>
</ul>

<%= form_for @artist do |f| %>
	name: <%= f.text_field :name %><br>
	Bio: <%= f.text_field :bio %>
	
	<%= f.submit %>

<%end%>