<h1> Song Edit Page</h1>

<%= form_for @song do |f| %>
  <%= f.label 'Song Name: ' %>
  <%= f.text_field :name %><br>
  <%= f.label 'Song Artist ID:' %><br>
  <%= f.number_field :artist_id %><br>
  <%= f.number_field :genre_id %>
  <br>
  <%= f.submit 'Update Song' %>
<% end %>
