<h1>Create Song</h1>

<%= form_for @song do |f| %>
  <%= f.label "Name" %><br>
  <%= f.text_field :name %><br>
  <%= f.label "Artist ID" %><br>
  <%= f.collection_select :artist_id, @artists, :id, :name %><br>
  <%= f.label "Genre ID" %><br>
  <%= f.collection_select :genre_id, @genres, :id, :name %><br>
  <%= f.submit "Create Song" %>
<% end %>
